################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VajaMVC/.vs
/MVCNajprejKoda/.vs
/MVCNajprejKoda/MVCNajprejKoda/App_Data
/VajaNajprejBaza/.vs
/Vaja1-sam/.vs
/Test-Butstrap/.vs
/postavitve/.vs
