
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Mojapredloga.cshtml";
}
<div class="jumbotron">
    <h2>Index</h2>
</div>
<div class=" row">
    <p>to je v telesu</p>
</div>
@section footer{
    <p>to je noga strani</p>
    }

<h2>Index</h2>

